@using Web_Client.Data.ResponseDTO;
@{
    ViewData["Title"] = "Employee";
    Layout = "_Employee_Layout";
}
@model List<OrderResponseDTO>

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
<h1>Order</h1>
<div>
    <a asp-action="CreateOrder" class="btn btn-outline-success mb-3">+ Create New</a>
</div>
<table id="customers">
    <tr>
        <th>Order ID</th>

        <th>Order Date</th>

        <th>Total Amount</th>

        <th>Employee</th>
        <th>Action</th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>

            <td>@product.OrderId</td>

            <td>@product.OrderDate</td>

            <td>@product.TotalAmount</td>

            <td>@product.EmployeeId</td>
            <td>
                <a asp-route-id="@product.OrderId" asp-action="UpdateOrder" class="btn btn-dark mt-2">Edit</a>
                <a asp-route-id="@product.OrderId" asp-action="DeleteOrder" class="btn btn-dark mt-2">Delete</a>
            </td>
        </tr>
    }

</table>
@if (Model.Count == 0)
{
    <em>(No item here)</em>
}


