@using Web_Client.Data.ResponseDTO;
@{
    ViewData["Title"] = "Employee";
    Layout = "_Employee_Layout";
}
@model List<WarehouseResponseDTO>

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
<h1>Warehouse</h1>
<div>
    <div>
        <a asp-action="CreateWarehouse" class="btn btn-outline-success mb-3">+ Create New</a>
    </div>
</div>
<table id="customers">
    <tr>
        <th>Warehouse ID</th>

        <th>Warehouse Name</th>

        <th>Address</th>

        <th>Phone Number</th>
        <th>Action</th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>@product.WarehouseId</td>

            <td>@product.WarehouseName</td>

            <td>@product.Address</td>

            <td>@product.PhoneNumber</td>
            <td>
                <a asp-route-id="@product.WarehouseId" asp-action="UpdateWarehouse" class="btn btn-dark mt-2">Edit</a>
                <a asp-route-id="@product.WarehouseId" asp-action="DeleteWarehouse" class="btn btn-dark mt-2">Delete</a>
            </td>
        </tr>
    }

</table>
@if (Model.Count == 0)
{
    <em>(No item here)</em>
}


